.Dashboard .button-container {
  display: flex;
  justify-content: end;
  padding: 20px 4px;
  width: 95%;
}

.Dashboard a {
  background-color: teal;
  border: 1px solid teal;
  border-radius: 100%;
  box-shadow: 2px 2px 5px grey;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 20px;
  text-decoration: none;
}

.Dashboard a:visited {
  color: #f5f5f5;
}

.Dashboard a:hover {
  background-color: #f5f5f5;
  color: teal;
  transition: all 200ms ease-in-out;
}

.Dashboard a:active {
  transform: translate(1px, 1px);
}
