footer {
  background-color: hsl(180, 18%, 37%);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}

footer a {
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  footer {
    font-size: 13px;
  }
}
