footer {
  background-color: hsl(180, 18%, 47%);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  font-weight: 600;
}
