@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap");

body {
  background-color: hsl(180, 18%, 92%);
  font-family: "Scheherazade New", serif;
  margin: 0;
}

.Navbar {
  align-items: center;
  background-color: hsl(180, 18%, 37%);
  color: hsl(0, 0%, 100%);
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.Navbar p {
  font-size: 20px;
}

.Navbar ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar li {
  padding: 0 10px;
}

.Navbar a {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-decoration: none;
}

.Navbar button {
  border: 1px solid hsl(315, 19%, 22%);
  background-color: hsl(315, 19%, 37%);
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 6px 10px;
}

.Navbar button a {
  color: white;
  font-weight: 600;
}

.Navbar a.logo {
  font-size: 28px;
}

.Navbar .welcome {
  font-weight: bold;
}

.Navbar button:active {
  transform: translate(1px, 1px);
}

@media only screen and (max-width: 820px) {
  .Navbar ul {
    border-top: 1px solid white;
    padding: 15px 0 5px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .Navbar button {
    font-size: 11px;
  }
  .Navbar .welcome {
    font-size: 17px;
  }
}
