body {
  margin: 0;
}

.Navbar {
  background-color: hsl(180, 12%, 89%);
  color: hsl(180, 18%, 37%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  flex-wrap: wrap;
}

.Navbar ul {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.Navbar li {
  padding: 0 10px;
}

.Navbar a {
  font-weight: 600;
  color: hsl(180, 18%, 37%);
  text-decoration: none;
}

.Navbar button {
  border: 1px solid hsl(180, 18%, 37%);
  background-color: hsl(180, 18%, 47%);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  padding: 6px 8px;
}

.Navbar button a {
  color: white;
  font-weight: 600;
}

.Navbar a.logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}

.Navbar .welcome {
  font-weight: bold;
}

.Navbar button:active {
  transform: translate(1px, 1px);
}

@media only screen and (max-width: 820px) {
  .Navbar ul {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100%;
  }
}
