.SurveyList {
  color: hsl(0, 0%, 0%);
  padding: 20px 16px 40px 16px;
}

.SurveyList h4 {
  font-size: 17px;
  margin: 0;
}

.SurveyList .survey p {
  font-size: 17px;
  margin: 0;
}

.SurveyList div.survey {
  background-color: hsl(0, 0%, 100%);
  border: 1px dashed hsl(180, 18%, 37%);
  border-radius: 4px;
  box-shadow: 1px 1px 5px hsl(0 0% 40% / 1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
  margin-top: 20px;
}

.SurveyList div.survey span {
  font-weight: 700;
}

.SurveyList section {
  padding: 10px;
}

.SurveyList div.survey div.responses {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 50%;
}

@media only screen and (max-width: 820px) {
  .SurveyList div.survey {
    grid-template-columns: repeat(2, 1fr);
  }

  .SurveyList section.border {
    border-top: 1px dashed hsl(180, 18%, 37%);
  }
}
