.SurveyFormReview {
  background-color: hsl(0, 0%, 100%);
  border: 1px dashed hsl(180, 18%, 37%);
  border-radius: 6px;
  box-shadow: 1px 1px 5px hsl(0 0% 40% / 1);
  color: hsl(0, 0%, 0%);
  margin: 20px auto 60px auto;
  padding: 20px 16px 40px 16px;
  width: 60%;
}

.SurveyFormReview h3,
.SurveyFormReview h4 {
  text-align: center;
}

.SurveyFormReview h3 {
  font-size: 22px;
  margin: 0;
}

.SurveyFormReview h4 {
  font-size: 17px;
  line-height: 1.5;
  margin: 0 auto 14px auto;
  text-align: left;
  width: 75%;
}

.SurveyFormReview p {
  font-size: 17px;
  margin: 0;
}

.SurveyFormReview label {
  font-size: 17px;
  font-weight: 700;
}

.SurveyFormReview .reviewfields-div {
  border-top: 1px dashed hsl(180, 18%, 37%);
  padding-top: 10px;
  margin: 0 auto;
  width: 80%;
}

.SurveyFormReview .reviewfields-div section {
  margin-bottom: 10px;
}

.SurveyFormReview button {
  border: 1px solid hsl(315, 19%, 22%);
  background-color: hsl(315, 19%, 37%);
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 6px 10px;
  text-decoration: none;
}

.SurveyFormReview .formreview-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

@media only screen and (max-width: 820px) {
  .SurveyFormReview {
    width: 88%;
  }

  .SurveyFormReview h4 {
    width: 90%;
  }

  .SurveyFormReview .reviewfields-div {
    width: 95%;
  }
}
