.SurveyField label {
  font-size: 17px;
  font-weight: 700;
}

.SurveyField input {
  border: 1px solid hsl(315, 19%, 22%);
  border-radius: 6px;
  font-family: "Scheherazade New", serif;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 94%;
}

.SurveyField div.error {
  color: red;
}
